
.perdon {
    color: blueviolet;
    font-size: 60px
}

#body{
    background-color: rgb(243, 243, 243);
    overflow: visible;
}

.amo {
    color: red;
    font-size: 60px;

    
}

.no {
    position: relative;
    height: 100px;
    font-size: 50px;
    
    
}
.img{
    height: 400px;
    
}